*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html{
    /* 10px */
   font-size: 62.5%;
   line-height: 1.6rem;
   font-family: "Space Grotesk", sans-serif;
   box-sizing: border-box;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: var(--text-color);
}

:root {
    --primary-color: #B9FF66;
    --secondary-color: #191A23;
    --third-color: #F3F3F3;
    --white-color: #F3F3F3;
    --black-color: #191A23;
}

::selection {
  background-color: #8BBF4E;
  color: white;
}

h1 {
    font-size: 6.0rem;
    font-weight: medium;
}

h2 {
    font-size: 4.0rem;
    font-weight: medium;
}

h3 {
    font-size: 3.0rem;
    font-weight: medium;
}

h4 {
    font-size: 2.0rem;
    font-weight: medium;
    line-height: 2.8rem;
}

p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.3rem;
}

::-webkit-scrollbar {
    display: none;
}

input[type="radio"] {
    display: none;
}

/* Vòng ngoài: viền đen, tròn */
.contact--chosing--item .checkmark {
    width: 22px;
    height: 22px;
    border: 1px solid var(--black-color);
    border-radius: 29px;
    position: relative;
    background-color: #ffff; /* nền trắng nhẹ */
    padding: 6px; /* khoảng cách giữa vòng ngoài và vòng trong */
    cursor: pointer;
}
  
  /* Vòng tròn xanh bên trong */
.contact--chosing--item input[type="radio"]:checked + .checkmark::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 100%;
}